@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
}

:root {
    --theme: red;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("./assets/images/bg/columbina_bg.jpg");
    background-size: cover;
    overflow-x: hidden;
    transition: 0.3s;   
}

body:before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
}

body> * {
  position: relative;
  z-index: 1;
}

header {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 10;
}

.page-title {
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 1px;
    text-align: center;
}

.navigation ul{
    padding-top: 15px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navigation ul li {
    margin: 0 10px 0 10px;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.3s;
}

.navigation ul li:hover {
    color: var(--theme);
}

.navigation ul li:first-child i:hover {
    color: var(--theme);
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    border: 1px solid #000;
    border-radius: 10px;
}

main {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    padding: 0 80px;
    display: flex;
    align-items: center;
}

.info {
    width: 100%;
}

.info .main-info{
    width: 100%;
    display: flex;
    align-items: center;
}

.main-info .character-name {
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--theme);
    font-optical-sizing: auto;
    font-size: 45px;
    font-weight: 900;
    font-style: normal;
    margin-right: 5px;
}

.main-info img {
    width: 60px;
    height: 60px;
    margin: 5px;
}

.sub-info .tags{
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
}

.tags span {
    margin: 0 3px 0 3px;
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.tags span:first-child {
    margin-left: 0;
}

.tags span:last-child {
    border-right: none;
}

#vision {
    color: var(--theme);
    text-decoration: underline;
}

.sub-info .lore {
    width: 85%;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 10px;
    text-align: justify;
}

.sub-info .buttons button{
    margin: 5px 5px 0 5px;
    padding: 5px 10px;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    border: 1px;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    transition: 0.2s;
}

.buttons button:hover {
    border: 1px;
    border-radius: 2px;
    background-color: var(--theme);
}

.buttons button:first-child {
    margin-left: 0;
}

.carousel-holder {    
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.carousel {
    width: 100%;
    height: 100%;
}

.carousel .cards-holder {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cards-holder .character-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-holder .active-card {
    z-index: 10;
}

.inactive-card1 {
    opacity: 50%;
    z-index: 9;
}

.inactive-card2 {
    opacity: 25%;
    z-index: 8;
}

.cards-holder #inactive-card-left1 {
    margin-right: -150px;
    width: 250px;
}

.cards-holder #inactive-card-left2 {
    margin-right: -150px;
    width: 200px;
}

.cards-holder #inactive-card-right1 {
    margin-left: -150px;
    width: 250px;
}

.cards-holder #inactive-card-right2 {
    margin-left: -150px;
    width: 200px;
}

.carousel .cards-holder img {
    width: 300px;
}

.animate-image {
    transition: transform 1s ease, opacity 1s ease;
}

.carousel .button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .button-holder .slide i{
    font-size: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.slide i:hover {
    color: var(--theme);
}

.disabled {
    pointer-events: none;
}

footer {
    margin-top: 100px;
    margin-bottom:10px;
    padding: 0 60px 10px 60px;
}

.externals {
    display: flex;
    justify-content: end;
    align-items: center;
}

.externals .socials ul{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.socials ul li {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.socials ul li i:hover {
    color: var(--theme);
}

footer .gameplay button {
    margin: 5px 5px 0 5px;
    padding: 5px 10px 5px 8px;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    color: #000;
    background-color: #fff;
    border: 1px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
}

footer .gameplay i{
    color: #000;
}

.gameplay button:hover {
    background-color: var(--theme);
}