*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./assets/images/bg/mavuika_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.carousel img {
    width: 200px;
    height: 200px;
}